h1= title
p The first realtime collaborative slide presentation system

form(action='/presentation', method='POST')
  label Create new presentation
  input(type='text', name='name')
  input(type='submit', value='Do it!')