h1= presentation.name

h2 Slides:

ul
  - each slide in presentation.slides
    li
      a(href='/presentation/' + presentation.name + '/slide/' + slide)= slide

form(action='/presentation/' + presentation.name + '/slide', method='POST')
  label Create new slide
  input(type='text', name='name')
  input(type='submit', value='Do it!')
