h1= slide.name

form#slide-edit(action='/presentation/' + slide.presentation + '/slide/' + slide.name, method='POST')
  textarea(name='content')= slide.content
  br
  input(type='submit', value='Save')
