html {
  height: 100%;
}

body {
  background: #464646;
  color: #ddd;
  font: 16px "Helvetica Nueue", Arial, sans-serif;
  padding: 0;
  margin: 0;
  height: 100%;
}

a {
	color: #ffffff;
}

#header {
	position: absolute;
	z-index: 100;
	height: 49px;
	width: 100%;
	background: url('/images/header-bg.png') repeat-x;
}

#header #logo {
	display: block;
	position: absolute;
	right: 5px;
	top: 0px;
	width: 144px;
	height: 37px;
	background: url('/images/liveslide-logo.png') no-repeat;
	text-indent: -9999px;
}

#content.with-sidebar {
	position: relative;
	float: left;
	width: 100%;
	background: url('/images/sidebar-bg.png') repeat-y;
	height: 100%;
}

#content #sidebar {
	position: absolute;
	top: 0px;
	width: 400px;
	padding-top: 60px;
}

#content #right {
	margin-left: 420px;
	padding-top: 60px;
}

.presentation-thumb-list {
	margin-left: 50px;
	margin-top: 10px;
}

.presentation-thumb {
	width: 320px;
	height: 250px;
	position: relative;
}

.presentation-titleslide {
	position: absolute;
	overflow: hidden;
	top: 0px;
	left: 0px;	
	-webkit-box-shadow: 0px 0px 40px #a4c56c;
	-webkit-transform: scale(0.5) translate(-320px, -220px);
	background: #000000;

	width: 600px;
	height: 400px;
	padding: 20px;
}


a.presentation-name {
	position: absolute;
	bottom: 0px;
	right: 0px;
}


#slide-edit textarea[name='content'] {
	width: 100%;
	height: 600px;
	font-size: 120%;
}

#slide-controls {
	position: absolute;
	right: 10px;
	bottom: 10px;
}


/* PLAY MODE */
#slideContainer {
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	margin:0;
}
#slideContainer .currentSlide,
#slideContainer .nextSlide {
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	-webkit-transition: all 1s;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}

/* Fade in the next slide */
#slideContainer .nextSlide {
	opacity:0;
}

#slideContainer.animationRunning .nextSlide {
	opacity:1;
	/*-webkit-transform:scale(1,1);
	-webkit-transform-origin: top right;*/
}

#slideContainer .currentSlide {
	opacity:1;
}
#slideContainer.animationRunning .currentSlide {
	/*-webkit-transform:scale(0,0);
	-webkit-transform-origin: bottom left;*/
	opacity:0;
}

/* PRESENTER MODE */
#presenterSlideContainer {
	position:absolute;
	top:10px;
	left:10px;
	width:600px;
	height:400px;
	background:black;
}
#nextSlideContainer {
	position:absolute;
	top:10px;
	left:630px;
	width:300px;
	height:200px;
	background:black;
}