body {
  background: #222222;
  color: #ddd;
  padding: 50px;
  font: 16px "Helvetica Nueue", Arial, sans-serif;
}

a {
	color: #fff;
}

#slide-edit textarea[name='content'] {
	width: 100%;
	height: 600px;
	font-size: 120%;
}

#slide-controls {
	position: absolute;
	right: 10px;
	bottom: 10px;
}



#slideContainer {
	position:relative;
	height:281px;
	width:450px;
	margin:0 auto;
	border: 1px solid red;
}
#slideContainer div {
	position:absolute;
	left:0;
}

#slideContainer .top {
	-webkit-transform:scale(0,0);
	opacity:0;

}

#slideContainer .top.liveSlideAnimation {
	opacity:1;
	-webkit-transform:scale(1,1);
	-webkit-transform-origin: top right;
			-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;

}

#slideContainer .bottom.liveSlideAnimation  {
	-webkit-transform:scale(0,0);
	-webkit-transform-origin: bottom left;

	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;

}
#slideContainer .hidden {
	display:none;
}