div(class='outerContainer')
  div#slideContainer(class='theme-typo3')
    div(class='currentSlide')
  div(class='footer')
    div(class='text') presentation name
    div(class='inner')
      | Inspiring people to
      br
      b share